<div
  style="text-align: center; font-weight: bold; font-size: 30px; padding: 20px"
>
  <h1>Cast Vote</h1>
</div>
<div class="container">
  <ul class="responsive-table">
    <li class="table-row" *ngFor="let list of questions; let i = index">
      <div class="col col-1" data-label="id">{{ i + 1 }}</div>
      <div class="col col-11" data-label="question">
        <div>{{ list.question }}</div>
        <br />
        <div>
          <div class="col col-12">
            <form>
              <label class="radio-inline" *ngFor="let options of list.options">
                <input type="radio" name="optradio"  (change)="setId(i, options.allowedResponseOptionId)" />&nbsp;{{
                  options.option
                }}
                &nbsp;&nbsp;
              </label>
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div style="text-align: end">
    <button class="btn btn-primary" (click)="onSubmit()"
      style="padding: 7px 30px; border: 1px solid #000; border-radius: 5px">
      Submit
    </button>
  </div>
</div>
