<section class="download" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wp4">
        <div class="mainMenuChoice">
          <div class="menuItem col col-6" (click)="viewPolls()">
            <div>View Polls</div>
            <img
              src="../../assets/pollIcon.png"
              width="200"
              height="200"
              alt="ViewPollsImage"
            />
          </div>
          <div class="menuItem col col-6" (click)="createBallot()">
            <div>Create Poll</div>
            <img
              src="../../assets//ballotIcon.png"
              width="200"
              height="200"
              alt="CreateBallotImage"
            />
          </div>
        </div>
      </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 text-center wp4">
          <div class="mainMenuChoice">
          <div class="menuItem col col-6" (click)="casteVote()">
            <div>Cast Vote</div>
            <img
              src="../../assets//caste-vote.PNG"
              width="200"
              height="200"
              alt="CasteVoteImage"
            />
          </div>
          <div class="menuItem col col-6" (click)="results()">
            <div>Check Results</div>
            <img
              src="../../assets//results.PNG"
              width="200"
              height="200"
              alt="ResultsImage"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
