<div class="col-md-12">
  <div class="home card">
  <div class="card card-container">
    <strong class="title">SIGN UP</strong>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="row">
        <div class="form-group col-md">
          <label for="firstName">FirstName</label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            [(ngModel)]="form.firstName"
            required
            minlength="3"
            maxlength="20"
            #firstName="ngModel"
          />
          <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
            <div *ngIf="firstName.errors?.['required']" >FirstName is required</div>
            <div *ngIf="firstName.errors?.['minLength']">
              FirstName must be at least 3 characters
            </div>
            <div *ngIf="firstName.errors?.['maxLength']">
              FirstName must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group col-md">
          <label for="lastName">LastName</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            [(ngModel)]="form.lastName"
            required
            minlength="3"
            maxlength="20"
            #lastName="ngModel"
          />
          <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
            <div *ngIf="lastName.errors?.['required']" >LastName is required</div>
            <div *ngIf="lastName.errors?.['minLength']">
              LastName must be at least 3 characters
            </div>
            <div *ngIf="firstName.errors?.['maxLength']">
              LastName must be at most 20 characters
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="userName">Email</label>
        <input
          type="email"
          class="form-control"
          name="userName"
          [(ngModel)]="form.userName"
          required
          userName
          #userName="ngModel"
        />
        <div class="alert-danger" *ngIf="userName.errors && f.submitted">
          <div *ngIf="userName.errors?.['required']">Email is required</div>
          <div *ngIf="userName.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minLength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          [(ngModel)]="form.confirmPassword"
          required
          minlength="6"
          #confirmPassword="ngModel"
        />
        <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
          <div *ngIf="confirmPassword.errors?.['required']">Password is required</div>
          <div *ngIf="confirmPassword.errors?.['minLength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" (click)="onSubmit()">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
    </div>
</div>
